:root {
  /* Color Pallette */
  --color-primary: #1a3b5d;
  --color-secondary: #28a2a2;
  --color-accent: #5b3e96;
  --color-background: #f8f9fa;
  --color-text: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular") url("/src/assets/fonts/Poppins-Regular.ttf");
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Poppins";
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text);
    background-color: var(--color-background);
  }
  a:hover {
    color: var(--color-secondary);
  }
  button {
    background-color: var(--color-accent);
  }
}
